/* 1. */
#container1.highlight{
    background-color: yellow;
}
/* 2. */
#container2 p {
    color:pink;
}
#container2 > p {
    color: red;
}
/* 3. */
#container3 > input:not(input[type=submit]){
    border : 1px solid blue;
}

/* 4. */
#container4 > h1 , #container4 > .title{
    color:green;
    font-size: 20px;
}
/* 5. */
div[class^=use]{ 
    background-color: lightgray;
}
div[class$=info]{ 
    color:red;
}
div[class~=product]{ 
    background-color: coral;
}
div[class|=admin]{ 
    background-color: greenyellow;
}

/* 6. */
#container6 > input:focus{
    background-color: yellow;
}
#container6 > input:hover{
    background-color: green;
}
/* 7. */
#container7 > li:nth-of-type(2){
    font-weight: bold;
}
/* 8. */
.container8 > p:only-of-type{
    color:blue;
}
/* 9. */
#container9 > p[title*=important]:not(#container9 > p[title*=not-important]){
    color:red;
}

/* 10 */
#menu > li.active{
    color:red;
}







